.navbar {
    background-color: #563d7c !important;
}

nav>a,
.nav-link {
    color: aliceblue !important;
}

.invoice-dropdown {
    /* background-color: none; */
    background: transparent;
    border: none;
}

.nvoice-dropdown:hover {
    text-decoration: none;
}

.viewer {
    padding: 5px;
    box-shadow: 5px 5px 7px 1px rgba(0, 0, 0, 0.3);
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.1);
    border-style: ridge;
    border-left-color: springgreen;
    border-left-width: 0.3rem;
    border-left-style: inset;
    background-color: rgb(242, 243, 244, 0.4);
}

label {
    font-weight: bold;
}

i {
    font-size: 14px;
    font-weight: bold;
}

.btn-left {
    border-radius: 8px 0px 0px 8px;
}

.btn-right {
    border-radius: 0px 8px 8px 0px;
}

.btn-single {
    border-radius: 8px 8px 8px 8px;
}

.alert {
    text-align: left;
    font-size: 13px;
    box-shadow: 5px 5px 7px 1px rgba(0, 0, 0, 0.3);
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.1);
    border-style: ridge;
    border-left-width: 0.3rem;
    border-left-style: inset;
}

.closebtn {
    font-size: 29px;
    cursor: pointer;
}

.alert-success {
    background-color: #8bc34a;
    border-left-color: grey;
    color: black;
}

.alert-danger {
    background-color: #ff0000;
    color: white;
    border-left-color: khaki;
}

.alert-warning {
    background-color: khaki;
    color: black;
    border-left-color: yellowgreen;
}

.inline-1 {
    display: inline-block;
}

.border-left-span {
    height: 20px !important;
    margin: 0px 4px 0px 4px;
    display: inline-block;
    border: 0px solid;
    /* border-color: rgba(0, 0, 0, 0.1); */
    border-style: ridge;
    border-left-color: #dee2e6;
    border-left-width: 0.1rem;
    border-left-style: inset;
    /* background-color: rgb(242, 243, 244, 0.4); */
}

.management-seting {
    box-shadow: 1px 1px 2px -1px rgba(0, 0, 0, 0.4);
    margin: 0px 2px 0px 2px;
    border: 1px solid;
    /* border-color: rgba(0, 0, 0, 0.1); */
    border-style: ridge;
    /* border-left-color: springgreen; */
    border-left-width: 0.1rem;
    /* border-left-style: inset; */
    background-color: rgb(242, 243, 244, 0.4);
}

.bg {
    color: #495057 !important;
    background-color: #e9ecef !important;
    border-color: #dee2e6 !important;
}

.badge {
    display: inline-block;
    padding: .40em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.30rem;
}


/* .card-title {
    margin: -11px 0px 3rem 0px
} */

.table {
    font-size: 14px;
}


/* body>div.container>div>div>div.col-sm-6.col-md-6>div:nth-child(1) {
    max-height: 250px;
    padding: 0px;
}

body>div.container>div>div>div:nth-child(2)>div {
    max-height: 675px;
}

body>div.container>div>div>div:nth-child(2)>div>div.card-body>table {
    max-height: 600px;
} */


/* .nav-link {
    color: aliceblue !important;
} */